
/*
Helpers for Padding Spacing
*/

.pt--1 {
    padding-top: 10px;
}

.pt--2 {
    padding-top: 20px;
}

.pt--3 {
    padding-top: 30px;
}

.pt--4 {
    padding-top: 40px;
}

.pt--5 {
    padding-top: 50px;
}

.pb--1 {
    padding-bottom: 10px;
}

.pb--2 {
    padding-bottom: 20px;
}

.pb--3 {
    padding-bottom: 30px;
}

.pb--4 {
    padding-bottom: 40px;
}

.pb--5 {
    padding-bottom: 50px;
}

.pl--1 {
    padding-left: 10px;
}

.pl--2 {
    padding-left: 20px;
}

.pl--3 {
    padding-left: 30px;
}

.pl--4 {
    padding-left: 40px;
}

.pl--5 {
    padding-left: 50px;
}

.pr--1 {
    padding-right: 10px
}

.pr--2 {
    padding-right: 20px
}

.pr--3 {
    padding-right: 30px;
}

.pr--4 {
    padding-right: 40px;
}

.pr--5 {
    padding-right: 50px
}

.py--1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py--2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py--3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py--4 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.py--5 {
    padding-top: 50px;
    padding-top: 50px;
}

.px--1 {
    padding-left: 10px;
    padding-right: 10px;
}

.px--2 {
    padding-left: 20px;
    padding-right: 20px;
}

.px--3 {
    padding-left: 30px;
    padding-right: 30px;
}

.px--4 {
    padding-left: 40px;
    padding-right: 40px;
}

.px--5 {
    padding-left: 50px;
    padding-right: 50px;
}

@media only screen and (min-width: 576px) {
    .pt-sm-1 {
        padding-top: 10px;
    }
    
    .pt-sm-2 {
        padding-top: 20px;
    }
    
    .pt-sm-3 {
        padding-top: 30px;
    }
    
    .pt-sm-4 {
        padding-top: 40px;
    }
    
    .pt-sm-5 {
        padding-top: 50px;
    }
    
    .pb-sm-1 {
        padding-bottom: 10px;
    }
    
    .pb-sm-2 {
        padding-bottom: 20px;
    }
    
    .pb-sm-3 {
        padding-bottom: 30px;
    }
    
    .pb-sm-4 {
        padding-bottom: 40px;
    }
    
    .pb-sm-5 {
        padding-bottom: 50px;
    }
    
    .pl-sm-1 {
        padding-left: 10px;
    }
    
    .pl-sm-2 {
        padding-left: 20px;
    }
    
    .pl-sm-3 {
        padding-left: 30px;
    }
    
    .pl-sm-4 {
        padding-left: 40px;
    }
    
    .pl-sm-5 {
        padding-left: 50px;
    }
    
    .pr-sm-1 {
        padding-right: 10px
    }
    
    .pr-sm-2 {
        padding-right: 20px
    }
    
    .pr-sm-3 {
        padding-right: 30px;
    }
    
    .pr-sm-4 {
        padding-right: 40px;
    }
    
    .pr-sm-5 {
        padding-right: 50px
    }
    
    .py-sm-1 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .py-sm-2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .py-sm-3 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .py-sm-4 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .py-sm-5 {
        padding-top: 50px;
        padding-top: 50px;
    }
    
    .px-sm-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .px-sm-2 {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .px-sm-3 {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .px-sm-4 {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .px-sm-5 {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .pt-md-1 {
        padding-top: 10px;
    }
    
    .pt-md-2 {
        padding-top: 20px;
    }
    
    .pt-md-3 {
        padding-top: 30px;
    }
    
    .pt-md-4 {
        padding-top: 40px;
    }
    
    .pt-md-5 {
        padding-top: 50px;
    }
    
    .pb-md-1 {
        padding-bottom: 10px;
    }
    
    .pb-md-2 {
        padding-bottom: 20px;
    }
    
    .pb-md-3 {
        padding-bottom: 30px;
    }
    
    .pb-md-4 {
        padding-bottom: 40px;
    }
    
    .pb-md-5 {
        padding-bottom: 50px;
    }
    
    .pl-md-1 {
        padding-left: 10px;
    }
    
    .pl-md-2 {
        padding-left: 20px;
    }
    
    .pl-md-3 {
        padding-left: 30px;
    }
    
    .pl-md-4 {
        padding-left: 40px;
    }
    
    .pl-md-5 {
        padding-left: 50px;
    }
    
    .pr-md-1 {
        padding-right: 10px
    }
    
    .pr-md-2 {
        padding-right: 20px
    }
    
    .pr-md-3 {
        padding-right: 30px;
    }
    
    .pr-md-4 {
        padding-right: 40px;
    }
    
    .pr-md-5 {
        padding-right: 50px
    }
    
    .py-md-1 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .py-md-2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .py-md-3 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .py-md-4 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .py-md-5 {
        padding-top: 50px;
        padding-top: 50px;
    }
    
    .px-md-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .px-md-2 {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .px-md-3 {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .px-md-4 {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .px-md-5 {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (min-width: 992px) {
    .pt-lg-1 {
        padding-top: 10px;
    }
    
    .pt-lg-2 {
        padding-top: 20px;
    }
    
    .pt-lg-3 {
        padding-top: 30px;
    }
    
    .pt-lg-4 {
        padding-top: 40px;
    }
    
    .pt-lg-5 {
        padding-top: 50px;
    }
    
    .pb-lg-1 {
        padding-bottom: 10px;
    }
    
    .pb-lg-2 {
        padding-bottom: 20px;
    }
    
    .pb-lg-3 {
        padding-bottom: 30px;
    }
    
    .pb-lg-4 {
        padding-bottom: 40px;
    }
    
    .pb-lg-5 {
        padding-bottom: 50px;
    }
    
    .pl-lg-1 {
        padding-left: 10px;
    }
    
    .pl-lg-2 {
        padding-left: 20px;
    }
    
    .pl-lg-3 {
        padding-left: 30px;
    }
    
    .pl-lg-4 {
        padding-left: 40px;
    }
    
    .pl-lg-5 {
        padding-left: 50px;
    }
    
    .pr-lg-1 {
        padding-right: 10px
    }
    
    .pr-lg-2 {
        padding-right: 20px
    }
    
    .pr-lg-3 {
        padding-right: 30px;
    }
    
    .pr-lg-4 {
        padding-right: 40px;
    }
    
    .pr-lg-5 {
        padding-right: 50px
    }
    
    .py-lg-1 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .py-lg-2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .py-lg-3 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .py-lg-4 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .py-lg-5 {
        padding-top: 50px;
        padding-top: 50px;
    }
    
    .px-lg-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .px-lg-2 {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .px-lg-3 {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .px-lg-4 {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .px-lg-5 {
        padding-left: 50px;
        padding-right: 50px;
    }
}

