.section-creativeAlbum .fixed-background {
  background: #355c7d;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 92, 125, 0.8)), color-stop(rgba(108, 91, 123, 0.8)), to(rgba(192, 108, 123, 0.8)));
  background: -webkit-linear-gradient(rgba(53, 92, 125, 0.8), rgba(108, 91, 123, 0.8), rgba(192, 108, 123, 0.8));
  background: -o-linear-gradient(rgba(53, 92, 125, 0.8), rgba(108, 91, 123, 0.8), rgba(192, 108, 123, 0.8));
  background: linear-gradient(rgba(53, 92, 125, 0.8), rgba(108, 91, 123, 0.8), rgba(192, 108, 123, 0.8));
  color: white; }

.section-creativeAlbum .CreativeAlbum {
  background-image: url(../img/photographybanner.jpg);
  z-index: -1; }

.section-creativeAlbum .captions {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 20%;
  z-index: 1;
  color: white; }
  .section-creativeAlbum .captions h1 {
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 12px;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem; }
  .section-creativeAlbum .captions h2 {
    font-size: 2.8rem;
    font-weight: normal;
    letter-spacing: 12px;
    text-shadow: .1rem .1rem .8rem white;
    padding-bottom: 1rem;
    color: black; }
  .section-creativeAlbum .captions h6 {
    font-size: 1rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
    text-align: center;
    color: #c2b6b6;
    -webkit-animation: OpeningSequence 3.2s ease forwards;
    -moz-animation: OpeningSequence 3.2s ease forwards;
    animation: OpeningSequence 3.2s ease forwards; }
  .section-creativeAlbum .captions svg.svg-inline--fa {
    font-size: 1.5rem;
    margin-right: .5rem;
    text-decoration: none; }
    .section-creativeAlbum .captions svg.svg-inline--fa:hover {
      color: #1ebba3 !important; }
  .section-creativeAlbum .captions a {
    color: white; }

@-webkit-keyframes OpeningSequence {
  0% {
    letter-spacing: 50px;
    opacity: 0;
    transform: translateZ(130px);
    -webkit-transform: translateZ(130px);
    -moz-transform: translateZ(130px); }
  100% {
    letter-spacing: 5px;
    opacity: 1;
    transform: translateZ(20px);
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px); } }

@-moz-keyframes OpeningSequence {
  0% {
    letter-spacing: 50px;
    opacity: 0;
    transform: translateZ(130px);
    -webkit-transform: translateZ(130px);
    -moz-transform: translateZ(130px); }
  100% {
    letter-spacing: 5px;
    opacity: 1;
    transform: translateZ(20px);
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px); } }

@keyframes OpeningSequence {
  0% {
    letter-spacing: 50px;
    opacity: 0;
    transform: translateZ(130px);
    -webkit-transform: translateZ(130px);
    -moz-transform: translateZ(130px); }
  100% {
    letter-spacing: 5px;
    opacity: 1;
    transform: translateZ(20px);
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px); } }

.section-creativeAlbum .circle-image {
  position: absolute;
  top: 75%;
  z-index: 1; }
  .section-creativeAlbum .circle-image img {
    border-radius: 50%;
    width: 20%;
    border-style: solid;
    border-color: white; }

.section-creativeAlbum .button-position {
  width: 50%;
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 1;
  color: white; }

.section-creativeAlbum .creative-album img {
  border-style: solid;
  border-color: white; }
  .section-creativeAlbum .creative-album img:hover {
    background-color: #000; }

.section-creativeAlbum .carousel-control-prev {
  position: absolute;
  top: 205%; }

.section-creativeAlbum .carousel-control-next {
  position: absolute;
  top: 205%; }

.section-creativeAlbum .img-hvr {
  position: relative;
  overflow: hidden; }
  .section-creativeAlbum .img-hvr:hover {
    cursor: pointer;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    z-index: 1; }
  .section-creativeAlbum .img-hvr .text {
    position: absolute;
    margin: 0 15px;
    padding: 15px;
    z-index: 1;
    bottom: 0;
    left: 0; }

.section-creativeAlbum .img-hvr.hvr-3 .text {
  background: transparent;
  mix-blend-mode: hard-light;
  right: 0;
  text-align: center;
  top: 0;
  opacity: 0;
  -moz-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
  -o-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
  -webkit-transition: background-color 0.3s linear, opacity 0.3s linear;
  -webkit-transition-delay: 0s, 0s;
  -webkit-transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s;
  transition: background-color 0.3s linear 0s, opacity 0.3s linear 0s; }

.section-creativeAlbum .img-hvr.hvr-3 .text h4 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20%;
  background-color: black;
  border-radius: 50%;
  width: 50px;
  right: 43%;
  position: absolute;
  color: white; }
  .section-creativeAlbum .img-hvr.hvr-3 .text h4 a {
    text-decoration: none;
    color: white; }
  .section-creativeAlbum .img-hvr.hvr-3 .text h4:hover {
    color: black;
    background-color: white; }
    .section-creativeAlbum .img-hvr.hvr-3 .text h4:hover a {
      color: black; }

.section-creativeAlbum .img-hvr.hvr-3:hover .text {
  opacity: 1; }

@media only screen and (max-width: 1024px) {
  .section-creativeAlbum .card-picturealbum {
    right: 5%; }
  .section-creativeAlbum .jumbotron-none {
    display: none; }
  .section-creativeAlbum .album-btn .btn {
    font-size: 14px;
    margin: 0 5px;
    color: red; }
  .section-creativeAlbum h1, .section-creativeAlbum h2 {
    font-size: 30px !important;
    letter-spacing: 6px !important; }
  .section-creativeAlbum h6 {
    font-size: 10px !important; }
  .section-creativeAlbum .button-position {
    display: none; }
  .section-creativeAlbum .picture-binding {
    padding: 5px 5px !important; }
  .section-creativeAlbum .circle-image {
    top: 70%; }
    .section-creativeAlbum .circle-image img {
      width: 30%; }
    .section-creativeAlbum .circle-image cite {
      font-size: 13px; }
  .section-creativeAlbum .footer-copyright {
    font-size: 13px; } }
