@import "variable";
.section-experience{
  

    .background-1{ 
       background-image: url('../img/workbg.jpg');
        width: 100%;
        opacity: 1;
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        -o-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
       
    }
    
    .background-1-appear{
        background-image: url('../img/creativeExperience.jpg');
        width: 100%;
        opacity: 1;
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        -o-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
    }
    
    .background-2{ 
        background-image: url('../img/workbg.jpg');
         width: 100%;
        opacity: 0;
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        -o-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
    }
    
    .background-2-appear{ 
        background-image: url('../img/workbg.jpg');
         width: 100%; 
        opacity: 1;
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        -o-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
      
    }
    
    .background-3{ 
        background-image: url('../img/workbg2.jpg');
         width: 100%;
        opacity: 0;
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        -o-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
    }
    
    .background-3-appear{ 
        background-image: url('../img/workbg2.jpg');
         width: 100%; 
        opacity: 1;
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        -o-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
    }
    
    
    .fixed-background{
        background-color: rgba(0, 0, 0, 0.1);
        color: white; 
    }
    
    .work-underline {
        width: 3rem;
        height: .1rem;
        background-color: white;
        margin: 0 auto 2rem; }
  
    .work-bottomunderline{
        width: 18rem;
        height: .1rem;
        background-color: white;
        margin: 0 auto 2rem;
    }
    
    .heading{
        margin-top: 3rem;
        font-weight: 900;
        color:white;
    }

    .lexmark-paragraph{
        color: #D0D0D0; 
        font-family: 'Philosopher', sans-serif;
     
        font-size: 13px; 
        // letter-spacing: 0.05em;
    }
    
   
    
    
    .date{
        color: black;
        font-weight: bold;
    }
    
    svg.svg-inline--fa{
        font-size: 1.5rem;
        margin-right: .5rem;
        text-decoration: none;
        // &:hover{
        //     color: #1ebba3!important;
        // }
    }
    
    .lexmark-content{
        opacity: 0;
    }

    .lexmark-content-appear{
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        -o-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
        opacity: 1;
    }

    .card-lexmark{
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
      &:hover{
        box-shadow: $hoverCard-Shadow; 
      }
    
        .lexmarkbtn{
            &:hover{
              background: rgb(2,0,36);
              background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,179,104,1) 0%, rgba(0,212,255,1) 92%);
              border: 0;
              color: black;
            }
        }  
    }

    .lexbg{
        // background: url(../img/workbg.jpg);
        // /* Center and scale the image nicely */
        // background-size:     cover;                      /* <------ */
        // background-repeat:   no-repeat;
        // background-position: center ;   
        background-color:rgba(0, 0, 0, 0.6);
        
    }

    .Sidetext{
        color: white;
        position: absolute;
        left: 30%;
        top: 30%;
        font-weight: 900;
        transform: translate(-50%, -50%);
    }
    
    
    
    
    //Creative Design
    
    .creative-content{
        opacity: 0;
        // -webkit-transition: opacity 1s ease-in;
        // -moz-transition: opacity 1s ease-in;
        // -o-transition: opacity 1s ease-in;
        // -ms-transition: opacity 1s ease-in;
        // transition: opacity 1s ease-in;
        // opacity: 1;
    }

    .creative-content-appear{   
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        -o-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
        opacity: 1;
    }
    
    .card-CreativeContent{
       
        width: 20rem; 
        height: 20.5rem;
        
            &:hover{
             box-shadow: $hoverCard-Shadow; 
            }
       .creativeHeader{
        letter-spacing: 3px;
        color: white;
        background: #3E5151;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       }
    
       .creativeBody{
        background: #3E5151;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
       }
    
      
       
       
        .creativebtn{
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,179,104,1) 0%, rgba(0,212,255,1) 92%);
            border: 0;
            color: black;
            &:hover{
                color: white;
                background-color: rgba(white, 0.5);
            }
        } 
    
    // .card-creative5{
    //         transform: rotate(4deg);
    //         left:28%;
    //         top:22%;
    //         position:absolute;
    //         width: 60%;
    //         margin-bottom: 25px;
    //         z-index: 1;
    //  } 

    // .card-creative{
    //         transform: rotate(360deg);
    //         left:26%;
    //         top:22%;
    //         position:absolute;
    //         width: 60%;
    //         margin-bottom: 25px;
    //         z-index: 1;
    //  }  

    //  .card-creative1{
    //         transform: rotate(356deg);
    //         left:24%;
    //         top:22%;
    //         position:absolute;
    //         width: 60%;
    //         margin-bottom: 25px;
    //         z-index: 1;
    //  }  
     
    //   .card-creative2{
    //     transform: rotate(353deg);
    //     left:22%;
    //     top:22%;
    //     position:absolute;
    //     width: 60%;
    //     margin-bottom: 25px;
    //     z-index: 1;
    // }
    
    
    // .card-creative4{
        
    //     transform: rotate(350deg);
    //     left:20%;
    //     top:22%;
    //     position:absolute;
    //     width: 60%;
    //     margin-bottom: 25px;
    //     z-index: 1;  
    // }
    
    
    }
        //End of Creative Design
    
    
        //Web Devlopment Card
    .webdev-content{
        opacity: 0;
    }

    .webdev-content-appear{   
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        -o-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
        opacity: 1;
    }

    .card-webdev{
    
        background-image: url(../img/webdevpic/webdev1.jpg);
        width: 18rem;
        text-align: center;
        margin: 0 auto;
      
          &:hover{
            box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19); 
          }
        
            .color-1{
                &:hover{
                    background: rgb(2,0,36);
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,173,167,1) 0%, rgba(0,212,255,1) 100%);
                }
            }
        }
      
      
    .card-webdev2{
        
    
          background: rgb(131,58,180);
          background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(114,234,249,1) 50%, rgba(252,176,69,1) 100%);
          transform: rotate(350deg);
          top:7%;
          left: 17%;
          position:absolute;
          width: 18rem;
          text-align: center;
          margin: 0 auto;

          
         
            &:hover{
              box-shadow: $hoverCard-Shadow;
            }
          
            .webdevbtn{
                background: rgb(2,0,36);
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,179,104,1) 0%, rgba(0,212,255,1) 92%);
                border: 0;
                color: black;
                &:hover{
                    color: white;
                    background-color: rgba(white, 0.5);
                }
            } 
          }
      
      
    .card-webdev3{
    
          background-image: url(../img/webdevpic/webdev3.jpg);
          z-index:-1; 
          top:5%; 
          left: 30%; 
          width: 18rem; 
          position: absolute; 
          transform: rotate(10deg);
          text-align: center;
          margin: 0 auto;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
            &:hover{
              box-shadow: $hoverCard-Shadow;  
            }
          
              .color-1{
                  &:hover{
                    background: rgb(2,0,36);
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,179,104,1) 0%, rgba(0,212,255,1) 92%);
                    border: 0;
                    color: black;
                  }
              }
          }
          @media only screen and (max-width: 1036px){
            .card-webdev{
                display: none;
                // background: rgb(131,58,180);
                // background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(114,234,249,1) 50%, rgba(252,176,69,1) 100%);
                // transform: rotate(350deg);
                // top:7%;
                // left: 17%;
                // position: abosolute;
                // width: 18rem;
                // text-align: center;
                // margin: 0 auto;
            }
            
            .card-webdev3{
                display: none;
            }
        
            .card-webdev2{
             
               background-color: red;
                transform: rotate(360deg);
                top:7%;
                left: 0%;
                position: relative;
                width: 18rem;
                text-align: center;
                margin: 0 auto;
                
            }
        }
    
    
    
    //And of Web Development
    
    
    //Start of Photoshop Content
    .card-photoshop{
        width: 18rem;
        text-align: center;
        margin: 0 auto;
        margin-top: 5%;
    }
    }
    
    //End of Photoshop Content