@import "variable";

/*About Me Section*/

.section-about {

    .me{
        img{
        width: 100%;
        border-radius: 50%;
   
        }
    }

    .AboutBtn{
        padding: 10px;
        border: 2px solid #000;        
        text-decoration: none;
        position: absolute;
        width: 150px;
        text-align: center;
        color: white;
        font-weight: 900;
        transition: .5s all;
        left: 30%;
        top: 100%;
        background-color: black;
       &:hover{
           color: white;
       }

    }
    
    blockquote .svg-inline--fa{
        color: $hoverIcon-Color;
        margin: 1rem;
    }
    
    .card {
        
        width: 80%;
        
        h5 {
        font-size: 1rem;
        font-weight: 900;
        color: black;
        }
    
        .progress {
            box-shadow: 9px 7px rgb(230, 223, 223);
            height: 10px;
        }

        
    
        .progress-title {
            text-align: right!important;
            margin: .4rem;
            font-size: 13px; 
            font-style: oblique;
           
        }   
    }
    
    .topsideleft{
        position: absolute;
        bottom: 70%;
        right: 100%;
        width: 70%;
       
    
    // border-left: 2px  solid #000;
    // border-top: 2px solid #000; 
    // background-color: aquamarine;
        }

    #svgline{
       
        path{
            stroke-dasharray: 1804px; 
            stroke-dashoffset: 1804px;
            animation: line-anim 5s ease forwards;
        }
        @keyframes line-anim{
            to{
                stroke-dashoffset: 0;
            }
        }
    }

    .topsideright{
    position: absolute;
    bottom: 85%;
    left: 200%;
    width:70%;   
    height: 200px;     
    
    }

    .bottomsideleft{
        position: absolute;
        top: 80%;
        left: 200%;
        width:70%;   
        height: 200px;     
       
        // background-color: aquamarine;  
        }

        .bottomsideright{
            position: absolute;
            top: 80%;
            right: 100%;
            width:70%;   
            height: 200px;  
            // background-color: aquamarine;  
            }

    @media only screen and (max-width: 414px){
        .topsideleft{
            display: none;
        }

        .topsideright{
            display: none;
        }

    
        .bottomsideleft{
            display: none;
        }

        .bottomsideright{
            display: none;
        }

        img{
           
            max-width: 70%;
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    

        .AboutBtn{
            padding: 10;        
            border: 0 !important; 
            margin: 0 !important;       
            text-decoration: underline;
            position: absolute;
            width: 150px;
            text-align: center;
            color: skyblue;
            font-weight: 900;
            transition: .5s all;
            left: 40%;
            top: 76%;
            background-color: white;
         
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px){
       

        .card{
            width: 100%;
            font-size: 1rem;
            font-weight: 900;
         
            }

        .topsideleft{
            svg{
                width:150px;
            }
            position: absolute;
            bottom: 90%;
            right: 100%;
            width: 70%;
            height: 200px; 
        }

        .topsideright{
            svg{
                width:150px;
            }
            position: absolute;
            bottom: 90%;
            left: 210%;
            width:70%;   
            height: 200px; 
        }

    
        .bottomsideleft{
            svg{
                width:150px;
            }
        position: absolute;
        top: 73%;
        left: 215%;
        width:70%;   
        height: 200px;  
        }

        .bottomsideright{
            svg{
                width:150px;
            }
            position: absolute;
            top: 73%;
            right: 100%;
            width:70%;   
            height: 200px; 
        }

        .AboutBtn{
            padding: 10px;
            border: 2px solid #000;        
            text-decoration: none;
            position: absolute;
            width: 110px;
            text-align: center;
            color: white;
            font-weight: 900;
            font-size: 10px;
            transition: .5s all;
            left: 20%;
            top: 100%;
            background-color: black;
          
        }
    }
    }