@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import "variable";
@import "section-navbar";
@import "section-about";
@import "section-experience";
@import "scroll-animation";
@import "section-homepage-landing";
@import "section-footer";
@import "section-recentproject";
@import "section-Qoutes";
@import "section-MoreAboutMe";


//CreativeAlbum
@import "section-creativeAlbum";

//Mixins
@import "mixins/letters";


body {
    // overflow-x: hidden;
    font-family: 'Lato' , sans-serif;
    // // color:  #505962;
}

// .offset:before{
//     display: block;
//     content: "";
//     height: 4rem;
//     margin-top: -4rem;
// }

.heading-underline{
    width: 15rem;
    height: .2rem;
    background-color: $hoverIcon-Color;
    margin: 0 auto 2rem;
}













  
  





  /*============ BOOTSTRAP BREAK POINTS:
  #
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/
  